<div id='heading'>
	<div id='logo'>
		<a href='{{site.url}}'>{{site.first_name}}</a>
		<a href='{{site.url}}' id='logo_docs'>{{site.last_name}}</a>
		
		
<a href="{{site.linkedin}}">
  <i class="icon-2x icon-linkedin"></i>
</a>

<a href="{{site.twitter}}">
  <i class="icon-2x icon-twitter"></i>
</a>

<a href="{{site.facebook}}">
  <i class="icon-2x icon-facebook"></i>
</a>

<a href="{{site.instagram}}">
  <i class="icon-2x icon-instagram-sign"></i>
</a>

</div>
</div>
<section id="home-hero"></section>
