<b>What is this all about</b>
<p>
  This is my website, what you can find here is anything you want to know about me, including projects I've completed and have been apart of, and job experience/education.
</p>

<a href="{{site.linkedin}}">
  <i class="icon-2x icon-linkedin"></i>
</a>

<a href="{{site.twitter}}">
  <i class="icon-2x icon-twitter"></i>
</a>

<a href="{{site.facebook}}">
  <i class="icon-2x icon-facebook"></i>
</a>

<a href="{{site.instagram}}">
  <i class="icon-2x icon-instagram-sign"></i>
</a>
